*{
    color: white;
    text-align: center;
}

.tabela-tarefas{
    font-family: 'Raleway', sens-serif;

    &__content-wrapper{
        display: grid;
        justify-content: center;

    }

    &__head{
        display: flex;
        justify-content: space-between;
        font-size: 1.9rem;
        font-weight: 600;
        column-gap: 10vw;
        border-bottom: 1px solid white;
        padding-bottom: 35px;
    }

    .tBody-row{
        display: flex;
        font-size: 1.5rem;
        font-weight: 400;
        margin: 25px 0 0 0;
    }

    .cell-tarefa{
        text-align: justify;
    }

    .cell-status{
        text-align: center;
        input{
            transform: scale(1.5);
        }
    }

    .cell-opcoes{
        text-align: end;
    }

    .tBody-cell{
        width: 33.3%;
    }

    input[type=text]{
        color: white;
        width: 30%;
        background-color: #2D2D2D;
        border: 0;
        text-align: start;
        font-size: 1.5rem;
        font-weight: 400;
        font-style: italic;
        margin-top: 25px;
    }

    .input-wrapper{
        display: flex;
        justify-content: space-between;

        img{
            margin-top: 25px;
        }
    }
    
}
