
.header{
    height: 74px;
    background-color: #0C70F2;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    ul{
        display: flex;
        list-style-type: none;
        column-gap: 76px;
        padding-top: 20px;
        padding-left: 60px;
    }

    #org{
        color: white; 
        padding-top: 10px;
    }
    #tar{
        color:#0C70F2;
        background-color: white;
        width: 174px;
        height: 54px;
        text-align: center;
        padding-top: 13px;
        border-radius: 10px 10px 0 0;
    }
}

